extends master

block css
    link(href="/css/maps.css" rel="stylesheet")
    block map_css

block main
    div(id="mapWrapper")
        div(id="mapDiv")
            block map_div
    div(id="buttonDiv")
        div(class="btn-group-vertical" id="btn_group")
            block map_buttons

    div(id="narrative") 
        div(id="sidebar")
            div(id="story")
                block map_story
                        div(style="text-align: center; margin-top: 15px;" class="col-sm-12")
                        div(style="text-align: center; margin: 15px 0;" class="col-sm-12")
                            a(href="http://www.und.edu/")
                                img(src="/images/und_logo_wide.png" alt="Univeristy of North Dakota wide flame logo" class="center-block hidden-xs hidden-sm img-responsive")
                                img(src="/images/und_logo_compact.png" alt="University of North Dakota compact flame logo" class="center-block hidden-md hidden-lg img-responsive")

block js
    script(src="https://www.gstatic.com/charts/loader.js")
    block map_js

block footer
