extends master
 
block css
	link(rel="stylesheet" type="text/css" href="/css/light_menu.css")
	link(href="/css/map_nonarrative.css" rel="stylesheet")
 
block main
	div(id="mapWrapper")
		div(id="mapDiv")
			img(src="/images/maps/Missile_Facilities.png" id="map")
	div(id="buttonDiv")
		div(class="btn-group-vertical" id="btn-group")
			button(type="button" class="btn btn-default" id="facilities") Missile Facilities
			button(type="button" class="btn btn-default" id="range") Missile Range

