extends master
 
block css
	link(rel="stylesheet" type="text/css" href="/css/dark_menu.css")
	link(href="/css/missiles.css" rel="stylesheet")
 
block main
	div(id="mapWrapper")
		div(id="mapDiv")
			img(src="/images/maps/Missile_Facilities.png" id="map")
	div(id="buttonDiv")
		div(class="btn-group-vertical" id="btn-group")
			button(type="button" class="btn btn-default" id="facilities") Missile Facilities
			button(type="button" class="btn btn-default" id="range") Missile Range

block js
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
	script(type="text/javascript" src="/js/missiles.js")
