extends map_nonarrative

block map_css
	link(rel="stylesheet" type="text/css" href="/css/light_menu.css") 

block map_div
	img(src="/images/maps/CP_1990.png" id="map")

block map_buttons
	button(type="button" class="btn btn-default" id="a_1890") 1890
	button(type="button" class="btn btn-default" id="a_1900") 1900
	button(type="button" class="btn btn-default" id="a_1910") 1910
	button(type="button" class="btn btn-default" id="a_1920") 1920
	button(type="button" class="btn btn-default" id="a_1930") 1930
	button(type="button" class="btn btn-default" id="a_1940") 1940
	button(type="button" class="btn btn-default" id="a_1950") 1950
	button(type="button" class="btn btn-default" id="a_1960") 1960		 
	button(type="button" class="btn btn-default" id="a_1970") 1970
	button(type="button" class="btn btn-default" id="a_1980") 1980 
	button(type="button" class="btn btn-default" id="a_1990") 1990
	button(type="button" class="btn btn-default" id="a_2000") 2000
	button(type="button" class="btn btn-default" id="a_2010") 2010
	button(type="button" class="btn btn-default" id="play1") Play

block js
	script(type="text/javascript" src="/js/population.js")

