extends map

block map_css
	link(rel="stylesheet" type="text/css" href="/css/light_menu.css") 

block map_div
	img(src="/images/maps/WPA_1934.png" id="map")

block map_buttons
	button(type="button" class="btn btn-default" id="a_1934") 1934
	button(type="button" class="btn btn-default" id="a_1935") 1935
	button(type="button" class="btn btn-default" id="a_1936") 1936
	button(type="button" class="btn btn-default" id="a_1937") 1937
	button(type="button" class="btn btn-default" id="a_1938") 1938
	button(type="button" class="btn btn-default" id="a_1939") 1939
	button(type="button" class="btn btn-default" id="a_1940") 1940
	button(type="button" class="btn btn-default" id="a_1942") 1942		 

block map_story
	div(id="content")
		The Federal Emergency Relief Act (FERA) was passed in 1933 as a key aspect of Franklin D. Roosevelt’s New Deal initiative. There were over 500 locations in North Dakota, ranging from building projects to improvements to sewers lines and roads, to use FERA assistance. The people to benefit most from FERA were those in rural communities, of which North Dakota was plentiful. The jobs provided by the building projects directly helped the local community by providing jobs for people severely hurting from the Great Depression, and boosting the economy of the area. There were several different FERA programs - the Civilian Conservation Corps (CCC), Public Works Administration (PWA), the Works Progress Administration, and special projects undertaken by the Treasury Department, among others. The scope of this project is solely on PWA, WPA, and Treasury Department projects throughout North Dakota. To make the project even more concentrated the project has focused primarily on public buildings such as civil centers, auditoriums, courthouses, and other actual buildings used for community and city purposes. This project examines 25 of the 537 projects in North Dakota.

block js
	script(type="text/javascript" src="/js/publicbuilding.js")

