extends map_test 

block map_div
	img(src='/images/maps/WPA_1938-min.png' id='map', usemap='#map' alt='')
	map(name='map' id='map')
		//1934
		//coordinate for emmons county-courthouse (purple triangle)
		area(shape='rect', coords='170,190,190,220')
		//1935 
		//coordinate for Oaks Post Office (blue square)
		area(shape='rect', coords='265, 200, 285, 220') 
	
		//1938
		//coordinates for Wells County Fairgrounds-Festival Hall (yellow circle)
		//coordinates for City Hall (green circle)
		area(shape='rect', coords='190, 145, 210, 160')
		//coordinates for Fire Hall (purple circle)
		area(shape='rect', coords='205, 160, 225, 180')
	
		//1939
		//coordinate for Rugby Post Office (blue square)
		area(shape='rect', coords='190, 80, 210, 100')
		//coordinate for Municipal Auditorium (red circle)
		area(shape='rect', coords='270, 60, 290, 80')
		//coordinate for New Rockford Post Office (blue circle)
		area(shape='rect', coords='225, 110, 245, 130')

		//1940
		//coordinate for Lisbon Post Office (blue square)
		area(shape='rect', coords='280, 180, 300, 200')

		//1942
		//coordinate for Wishek Civic Center (yellow circle)
		area(shape='rect', coords='210, 190, 230, 210') 
	
