extends map_test 

block map_div
	img(src='/images/maps/WPA_1936-min.png' id='map', usemap='#map' alt='')
	map(name='map' id='map')
		//coordinate for emmons county-courthouse, linton nd
		area(shape='rect', coords='190,210,210,230')
		//coordinate for oaks post office, oaks nd
		area(shape='rect', coords='290,220,300,230')
		//coordinate for
		area(shape='rect', coords=' ') 

