extends map_test 

block map_div
	img(src='/images/maps/WPA_1935-min.png' id='map' usemap='#map')

	map(name='map' id='map')
		//1934
		//coordinate for emmons county-courthouse (purple triangle)
		//area(shape='rect', coords='250, 100, 270, 120')

		//1935 
		//coordinate for Oaks Post Office (blue square)
		area(shape='rect', coords='480, 380, 500, 400') 

		//1936
		//coordinates for City Hall (green triangle)
		//area(shape='rect', coords='290, 40, 310, 55')
		//coordinates for McElroy Park Auditorium (brown circle)
		//area(shape='rect', coords='245, 155, 260, 170')
		//coordinates for Jamestown City Auditorium
		//area(shape='rect', coords=' 220, 150, 242, 170')
		//coordinates for Memorial Hall (green circle)
		//area(shape='rect', coords='140, 185, 160, 200')
		//coordinates for Memorial Hall (green triangle)
		//area(shape='rect', coords='75, 180, 95, 195') 

		//1937
		//coordinates for Inspection Station (green square)
		//area(shape='rect', coords='115, 40, 135, 55')
		//coordintes for Renville County Courthouse (purple circle)
		//area(shape='rect', coords='130, 55, 155, 70')
		//coordinates for Inspection Station (green square)
		//area(shape='rect', coords='150, 40, 170, 55')
		//coordinates for Langdon Post Office (blue square)
		//area(shape='rect', coords='250, 50, 270, 65')
		//coordinates for Central High School Auditorium
		//area(shape='rect', coords='290, 100, 310, 120') 

		//1938
		//coordinates for Wells County Fairgrounds-Festival Hall (yellow circle)
		//coordinates for City Hall (green circle)
		//area(shape='rect', coords='190, 145, 210, 160')
		//coordinates for Fire Hall (purple circle)
		//area(shape='rect', coords='205, 160, 225, 180')
	
		//1939
		//coordinate for Rugby Post Office (blue square)
		//area(shape='rect', coords='190, 80, 210, 100')
		//coordinate for Municipal Auditorium (red circle)
		//area(shape='rect', coords='270, 60, 290, 80')
		//coordinate for New Rockford Post Office (blue circle)
		//area(shape='rect', coords='225, 110, 245, 130')
		//coordinate for Rogers School Auditorium (brown circle)
		//area(shape='rect', coords='260, 150, 280, 165')
		//coordinates for City Auditorium (brown triangle)
		//area(shape='rect', coords='120, 165, 140, 180')

		//1940
		//coordinate for Lisbon Post Office (blue square)
		//area(shape='rect', coords='280, 180, 300, 200')

		//1942
		//coordinate for Wishek Civic Center (yellow circle)
		//area(shape='rect', coords='210, 190, 230, 210') 

