extends map_nonarrative

block map_css
link(rel="stylesheet" type="text/css" href="/css/light_menu.css")

img(src="/images/maps/BWheat_1949.png" id="map")

block js
    script(type="text/javascript" src="/js/wheat.js")
