//welcome page. Students land here when they select project from the landing page
extends master

block theme
    link(rel="stylesheet" type="text/css" href="css/dark_menu.css")    

block css
    link(rel="stylesheet" type="text/css" href="css/welcome.css")

block main
    div(class="container")
        div(class="row")
            div(class="col-lg-12")
                h1(id="title") Welcome to the Atlas
                hr
        div(class="row")
            div(class="col-lg-12")
                div(class="well" id="text_well")
                    p This multidisciplinary project was conceived by Dr. Michael Niedzielski with support from Dr. Debbie Storrs, Dean of the College of Arts & Sciences, and Michael Jacobs, former publisher of the Grand Forks Herald. During 2014-2015, support was also provided by Dr. Tami Carmichael (Humanities & Integrated Studies). Since 2015, additional support was provided by Dr. Bradley Rundquist (Associate Dean for Research for Research for the College of Arts & Sciences and Professor of Geography and GISc).
                    p The purpose of the atlas is to engage an interdisciplinary group of students in experiential and collaborative learning to map demographic, economic, and social changes across the state since the late 1800s, interpreting such changes, and disseminating findings in a digital format. The atlas will provide several benefits:
                    p(id="indent") 1. It will be an important resource for policy makers, community members, and K-12 colleagues and students.
                    p(id="indent") 2. It will expand students' educational experiences through experiential and collaborative learning with significant community engagement and impact.
                    p(id="indent") 3. It will provide a tangible product for public consumption to increase participation of the public as informed citizens.
