extends map

block map_css
link(rel="stylesheet" type="text/css" href="/css/light_menu.css")

block map_div
    img(src="/images/maps/Wheat_1949.png" id="map")

block map_buttons
    button(type="button" class="btn btn-default" id="a_1949") 1949
    button(type="button" class="btn btn-default" id="a_1954") 1954
    button(type="button" class="btn btn-default" id="a_1959") 1959
    button(type="button" class="btn btn-default" id="a_1964") 1964
    button(type="button" class="btn btn-default" id="a_1969") 1969
    button(type="button" class="btn btn-default" id="a_1974") 1974
    button(type="button" class="btn btn-default" id="a_1978") 1978
    button(type="button" class="btn btn-default" id="a_1982") 1982
    button(type="button" class="btn btn-default" id="a_1987") 1987
    button(type="button" class="btn btn-default" id="a_1992") 1992
    button(type="button" class="btn btn-default" id="a_1997") 1997
    button(type="button" class="btn btn-default" id="a_2002") 2002
    button(type="button" class="btn btn-default" id="a_2007") 2007
    button(type="button" class="btn btn-default" id="a_2012") 2012

block js
    script(type="text/javascript" src="/js/wheat.js")


