@font-face {
	font-family: Lato_Italic;
	src: url(fonts/Lato-Italic.ttf);
}

body {
	font-family: Lato_Italic;
	background-image: url(/images/backgrounds/bison_bw.JPG);
	background-size: 100% 100%;
	background-attachment: fixed;
}

#title0 {
	font-weight: bold;
	padding-bottom: 15px;
}

/*map css*/
#mapWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 80px;
    right: 400px;
    z-index: 0 !important;
}

#mapDiv {
    position: absolute;
    top: 0;
    left: 5%;
    bottom: 10px;
    width: 100%;
}

#map {
	width: 800px;
	height: 640px;
}

/*text box css*/

#narrative {
	position: absolute;
	color: white;
	top: 0;
	height: 640px;
	left: 940px;
    right: 20px;
	background-color: rgba(0, 0, 0, 0.3);
	border-style: solid;
	border-color: black;	
	border-width: 2px;
}

#sidebar {
	overflow-y: scroll;
	max-height: 640px;
}

#content {
    margin-top: 10px;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 10px;
}

/*button css*/
#btn_group {
	left: 2%;	
}

#play1 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: red solid 2px;
}

#buttonDiv {
	bottom: 10px;
}
  
.section:nth-child(n+2) {
    margin-top: 15px;
}

.btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: black solid 2px;
}

.btn:hover {
	background-color: gray;
	border: #cd9b37 solid 2px;
}

/*title stuff*/
h2 {
	font-weight: bold;
	padding-bottom: 15px;
}
