/*This css sheet is used for the basic layout elements of the map page*/

.navbar-brand {
    font-weight: 300;
}
.jumbotron {
    padding-top: 0;
    padding-bottom: 15px;
}
.jumbotron .btn {
    margin-top: 15px;
}
p.address {
    font-size: .85em;
}
hr, .page-header {
    border-color: #E5E5E5;
}
#main-footer {
    padding-top: 30px;
    border-top: 1px solid #e5e5e5;
    background-color: #FFF;
}

a.disabled {
    color: #005500 !important;
    cursor: not-allowed;
}
.footer-center-block {
    text-align: center;
    font-size: 12px;
}
.btn-social-icon {
    margin: 0 1px;
}
@media (max-width: 767px) {
    .footer-left-block, .footer-right-block {
        text-align: center;
    } 
    .footer-right-block, .footer-center-block {
        padding-top: 15px;
        margin-top: 5px;
    }
    #main-footer {
        padding-top: 10px;
    }
}
@media (min-width: 768px) {
    .panel-body {
        min-height: 320px;
        height: 320px;
        overflow-y: hidden;
    }
    .footer-left-block {
        text-align: left;
    }
    .footer-right-block {
        text-align: right;
        border-top: none;
    }
}
@media (min-width: 992px) {
}

#mainBody {
    position: absolute;
    top: 54px;
    bottom: 0;
    right: 0;
    left: 0;
}

.well {
    background-image: none;
}
