/*This css is applied to those maps that don't have a narrative on the side bar*/
@font-face {
	font-family: Lato_Italic;
	src: url(fonts/Lato-Italic.ttf);
}

body {
	font-family: Lato_Italic;
	background-image: url(/images/backgrounds/sugarbeets.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
}

#title0 {
	font-weight: bold;
	padding-bottom: 15px;
}

#sidebar {
	display: inline-block;
	vertical-align: top;
	width: 250px;
	padding: 5px;
}

#narrative {
	position: absolute;
	text-align: center;
	color: white;
	top: 0;
    right: 0;
    overflow-y: hidden;
	background-color: rgba(0, 0, 0, 0.3);
	border-style: solid;
	border-color: black;	
	border-width: 2px;
}

#mapWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 80px;
    right: 400px;
    z-index: 0 !important;
}

#mapDiv {
    position: absolute;
    top: 0;
    left: 15%;
    bottom: 10px;
    width: 100%;
}

#map {
	width: 100%;
	height: auto;
}

#play1 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: red solid 2px;
}

#buttonDiv {
	padding-left: 5%; 
	bottom: 10px;
}

#content {
    margin-top: 10px;
	font-weight: bold;
}
  
#story{
	font-weight: bold;
	z-index: 1000;
    height: 650px !important;
}

.section:nth-child(n+2) {
    margin-top: 15px;
}

.btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: black solid 2px;
}

.btn:hover {
	background-color: gray;
	border: #cd9b37 solid 2px;
}

h2 {
	font-weight: bold;
	padding-bottom: 15px;
}
