/*This ndatlas menu is used on light backgrounds*/
@font-face {
	font-family: Lato_Italic;
	src: url(fonts/Lato-Italic.ttf);
}

li a {
	display: block;
	color: white;
	padding: 16px;
	font-family: Lato_Italic;
}

